@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=My+Soul&family=Open+Sans:ital,wght@0,300;0,600;0,800;1,300&family=Plus+Jakarta+Sans:wght@200;500;800&family=Whisper&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

/* <------------------ Start of CSS for Home Page ------------------> */
.home{
  display: flex;
  justify-items: center;
  margin: 50px;
  height: 60vh;
}

.image {
  height: 70vh;
  margin-left: 40px;
}
.homeText{
  text-align: center;
  margin: 100px;
}

.clickHere{
  text-decoration: none;
  color: black;
}

.clickHere .toggleDarkModeButton{
  text-decoration: none;
  color: white;
}

.clickHere:hover{
  color: white;
}

.dark .clickHere {
  color: white;
}
.dark .clickHere:hover {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

/* <------------------ End of CSS for Home Page ------------------> */

/* <------------------ Start of CSS for Home Page Nav Bar ------------------> */

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center; 
  background: url('https://i.pinimg.com/originals/1f/b0/6b/1fb06be35a5689d0459519c91b052524.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
  height: 13vh;
}

.navbar h1 {
  position: absolute;
  left: 20px;
  color: rgb(17, 17, 17);
  font-family: 'Montserrat', sans-serif;
  font-family: 'My Soul', cursive;
  font-size: 50px;
}

.navbar a {
  margin-left: 40px;
  color: #0a0a0a;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 20px;   
}

.navbar a.active {
  color: rgb(19, 18, 18);
}

.navbar a:hover {
  background-color: transparent;
  color: white;
}

nav a::after {
  content: '';
  display: block;
  height: 7px;
  background-color: rgb(71, 71, 71);
  bottom: 1;
  width: 0%;
  transition: all ease-in-out 200ms;
}

nav a:hover::after {
  width: 100%;
}

.dark .navbar {
  background: url('https://thumbs.gfycat.com/EmotionalRadiantBovine-max-1mb.gif');
}

.dark .navbar h1 {
  color: white;
}

.dark nav a::after {
  content: '';
  display: block;
  height: 7px;
  background-color: rgb(187, 187, 187);
  bottom: 1;
  width: 0%;
  transition: all ease-in-out 200ms;
}

.dark nav a:hover::after {
  width: 100%;
}


.dark .navbar a, a.active {
  color: white;
}

h1 {
  font-family: 'My Soul', cursive;
}

p {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 20px;
}
/* <------------------ End of CSS for Home Page Nav Bar ------------------> */

body {
  background-image: url('https://www.publicdomainpictures.net/pictures/130000/nahled/purple-top-gradient-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

/* <------------------ Start of CSS for Buttons in Light Mode ------------------> */
button {
  background-color: transparent;
  margin-top: 5px;
  margin-right: 45px;
  padding: 40px;
  font-size: 40px;
  color: black;
  text-shadow: 1px 1px white;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-family: 'My Soul', cursive;
  line-height: 3.3;
  height:100px;
  width: 100px;
  border: none;
}

button:hover {
  color:black;
  font-size: 50px;
  border-left: 4px solid #272363;
  border-radius: 50%;
  text-shadow: 1px 1px #38ace1;
}
/* #38ace1 */
/* <------------------ End of CSS for Buttons in Light Mode ------------------> */

.dark {
  background-image: url('https://www.stockvault.net/data/2020/09/24/279149/preview16.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

/* <------------------ Start of CSS for Buttons in Dark Mode ------------------> */
.toggleDarkModeButton {
  /* position: relative; */
  /* right: 540px; */
  /* top: 10px; */
  width: 40px;
  padding: 0;
  height: 40px;
  border: none;
  background-image: url('https://ps.w.org/dark-mode-for-wp-dashboard/assets/icon-256x256.png?rev=2404672');
  background-size: cover;
  opacity: 0.5;
}

.dark .toggleDarkModeButton {
  position: relative;
  right: 540px;
  top: 10px;
  width: 40px;
  padding: 0;
  height: 40px;
  border: none;
  background-image: url('images/sun.JPG');
  border-radius: 50%;
  background-size: cover;
}

.dark button {
  background-color: transparent;
  margin: 27px;
  padding: 50px;
  font-size: 40px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px black !important;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-family: 'My Soul', cursive;
}

.dark button:hover {
  background-color: #8b87e4; 
  box-shadow: 5px 7px black;
  border-radius: 40%; 
  color: white;
  font-size: 50px;
  text-shadow: 1px 1px black;
}
.dark .toggleDarkModeButton:hover {
  box-shadow: 2px 2px #D9B47B;
  opacity: 1;

}
.toggleDarkModeButton:hover {
  box-shadow: 2px 2px #D9B47B;
  opacity: 1;
}

/* <------------------ End of CSS for Buttons in Dark Mode ------------------> */

/* <------------------ Start of CSS for Zodiac Sign Buttons ------------------> */
button.aries{
  background-image: url('./images/Aries.png');
}

button.cancer{
  background-image: url('./images/Cancer.png');

}

button.taurus{
  background-image: url('./images/Taurus.png');
}

button.gemini{
  background-image: url('./images/Gemini.png');
}

button.leo{
  background-image: url('./images/Leo.png');
}

button.virgo{
  background-image: url('./images/Virgo.png');
}

button.libra{
  background-image: url('./images/Libra.png');
}

button.scorpio{
  background-image: url('./images/Scorpio.png');
}

button.sagittarius{
  background-image: url('./images/Sagittarius.png');
}

button.capricorn{
  background-image: url('./images/Capricorn.png');
}

button.aquarius{
  background-image: url('./images/Aquarius.png');
}

button.pisces{
  background-image: url('./images/Pisces.png');
}

/* <------------------ End of CSS for Zodiac Sign Buttons ------------------> */

/* <------------------ Start of CSS for TimeFrame Buttons ------------------> */


.timeframes-container > button {
  background-image: url('./images/glass-ball.jpg');
  background-size: cover;
  height: 80px;
  border: none;
  text-align: center;
  margin-right:50px;
}

.timeframes-container > button:hover {
  margin-top: 0;
  padding-top: 0;
  z-index: 1;
}

/* <------------------ End of CSS for TimeFrame Buttons ------------------> */

/* <------------------ Start of CSS for the Zodiac Page ------------------> */
.zodiac-container {
  display: flex;
  flex-direction: row;
  height:85vh;
  flex-direction: row;
  justify-content: center;
  justify-items:center;
  text-align: center;
  }

  .zodiac-container h1 {
    margin: 0;
    padding: 0;
  }

.result-container {
  margin-top: 2vh;
  width: 500px;
  display: relative;
  left: 100px;
  justify-items: center;
  justify-content: center;
  }

.sign-title {
  display: block;
}
.sign-container {
  margin-top: 10px;
  margin-left: 35px;
  height: 70vh;
  justify-content:center;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: minmax(60px, auto);
  }

.timeframe-result-container {
  margin-right: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}



/* <------------------ End of CSS for Zodiac Page ------------------> */

/* <------------------ Start of CSS for History Page ------------------> */
.history{
  display: flex;
  flex-direction: row;
  margin: 30px;
  height: 60vh;
}


.zodiacImage{
  height: 70vh;
  animation: rotate 35s infinite linear;
}  
@keyframes rotate {
  to {
      transform: rotate(360deg);
  }
}

.textDiv{
    padding-left: 40px;
    padding-right: 40px;

}

hr{
  width: 80%;
  padding: 0px;
}
/* <------------------ End of CSS for History Page ------------------> */


/* <------------------ Start of CSS for About Us Page ------------------> */
.about-us-container {
  display: flex;
  flex-direction: row;
}

.aboutUs{
  text-align: center;
  margin: 10px;
}  
  
.thisIsUs{
  padding-top: 50px;
  height: 80px;
  margin: 0px;
}

.avatar{
  height: 40vh;
  border-bottom: solid white;
  border-width: 5px;
  width: 90vh;
  display: flex;

}  

.ourSite{
  justify-content: center;
  justify-items: center;
  padding: 50px;

}
/* <------------------ End of CSS for About Us Page ------------------> */

.footer {
  background: url('https://i.pinimg.com/originals/1f/b0/6b/1fb06be35a5689d0459519c91b052524.gif');
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0%;
  position: fixed;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white
}

.dark .footer {
background: url('https://thumbs.gfycat.com/EmotionalRadiantBovine-max-1mb.gif');
}
